swagger: "2.0"
info:
  title: Co-op Bank Connect API
  description: HTTP Service for accessing Co-op Bank Connect API.
  termsOfService: https://github.com/wondenge/coop-go/blob/master/LICENCE
  contact:
    name: William Ondenge
    email: ondengew@gmail.com
    url: https://www.ondenge.me
  license:
    name: Apache License
    url: https://github.com/wondenge/coop-go/blob/master/LICENCE
  version: "1.0"
host: developer.co-opbank.co.ke:8280
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /Enquiry/AccountBalance/1.0.0:
    post:
      tags:
      - connect
      summary: AccountBalance connect
      description: Post an Account Balance Enquiry Request
      operationId: connect#AccountBalance
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: AccountBalanceRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectAccountBalanceRequestBody'
          required:
          - MessageReference
          - AccountNumber
      responses:
        "200":
          description: 'OK Success Response-Synchronous: 0=Success'
          schema:
            $ref: '#/definitions/ConnectAccountBalanceResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectAccountBalanceBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectAccountBalanceUnauthorizedResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectAccountBalanceNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectAccountBalanceTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /Enquiry/AccountTransactions/1.0.0:
    post:
      tags:
      - connect
      summary: AccountTransactions connect
      description: Post an Account Transactions Enquiry Request
      operationId: connect#AccountTransactions
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: AccountTransactionsRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectAccountTransactionsRequestBody'
          required:
          - MessageReference
          - AccountNumber
          - NoOfTransactions
      responses:
        "200":
          description: 'OK Success Response-Synchronous: 0=Success'
          schema:
            $ref: '#/definitions/ConnectAccountTransactionsResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectAccountTransactionsBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectAccountTransactionsUnauthorizedResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectAccountTransactionsNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectAccountTransactionsTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /Enquiry/ExchangeRate/1.0.0:
    post:
      tags:
      - connect
      summary: ExchangeRate connect
      description: Post an Exchange Rate Enquiry Request
      operationId: connect#ExchangeRate
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: ExchangeRateRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectExchangeRateRequestBody'
          required:
          - MessageReference
          - FromCurrencyCode
          - ToCurrencyCode
      responses:
        "200":
          description: 'OK Success Response-Synchronous: 0=Success'
          schema:
            $ref: '#/definitions/ConnectExchangeRateResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectExchangeRateBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectExchangeRateUnauthorizedResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectExchangeRateNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectExchangeRateNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectExchangeRateTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /Enquiry/FullStatement/Account/1.0.0:
    post:
      tags:
      - connect
      summary: AccountFullStatement connect
      description: Post an Account Full Statement Enquiry Request
      operationId: connect#AccountFullStatement
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: AccountFullStatementRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectAccountFullStatementRequestBody'
          required:
          - MessageReference
          - AccountNumber
          - StartDate
          - EndDate
      responses:
        "200":
          description: 'OK Success Response-Synchronous: 0=Success'
          schema:
            $ref: '#/definitions/ConnectAccountFullStatementResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectAccountFullStatementBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectAccountFullStatementUnauthorizedResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectAccountFullStatementNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectAccountFullStatementNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectAccountFullStatementTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /Enquiry/TransactionStatus/2.0.0:
    post:
      tags:
      - connect
      summary: TransactionStatus connect
      description: Post a Transaction Status Enquiry Request
      operationId: connect#TransactionStatus
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: TransactionStatusRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectTransactionStatusRequestBody'
          required:
          - MessageReference
      responses:
        "200":
          description: 'OK Successfully Processed Transaction Response-Synchronous: <br>0 - FULL SUCCESS, <br>Some JSON keys may not be present in the response depending on the transaction type'
          schema:
            $ref: '#/definitions/ConnectTransactionStatusOKResponseBody'
        "207":
          description: 'Multi-Status Partial Success/Fully Failed Processed Transaction Response-Synchronous: <br>1 - PARTIAL SUCCESS, <br>2 - FULL FAILURE, <br>Some JSON keys may not be present in the response depending on the transaction type'
          schema:
            $ref: '#/definitions/ConnectTransactionStatusMultiStatusResponseBody'
            required:
            - MessageReference
            - MessageDateTime
            - MessageCode
            - MessageDescription
            - Source
            - Destinations
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectTransactionStatusBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectTransactionStatusUnauthorizedResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectTransactionStatusNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectTransactionStatusNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectTransactionStatusTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /Enquiry/Validation/Account/1.0.0:
    post:
      tags:
      - connect
      summary: AccountValidation connect
      description: Post an Account Validation Enquiry Request
      operationId: connect#AccountValidation
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: AccountValidationRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectAccountValidationRequestBody'
          required:
          - MessageReference
          - AccountNumber
      responses:
        "200":
          description: 'OK Success Response-Synchronous: 0=VALID ACCOUNT NUMBER'
          schema:
            $ref: '#/definitions/ConnectAccountValidationResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectAccountValidationBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectAccountValidationUnauthorizedResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectAccountValidationNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectAccountValidationNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectAccountValidationTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /FundsTransfer/External/A2A/PesaLink/1.0.0:
    post:
      tags:
      - connect
      summary: PesaLinkSendToAccount connect
      description: Post a PesaLink Funds Transfer Send to Account Transaction
      operationId: connect#PesaLinkSendToAccount
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: PesaLinkSendToAccountRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectPesaLinkSendToAccountRequestBody'
          required:
          - MessageReference
          - CallBackUrl
          - Source
          - Destinations
      responses:
        "200":
          description: 'OK Acknowledgement Response-Synchronous: <br>0 - REQUEST ACCEPTED FOR PROCESSING'
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountForbiddenResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountTimeoutResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToAccountConflictResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /FundsTransfer/External/A2M/Mpesa/v1.0.0:
    post:
      tags:
      - connect
      summary: SendToMPesa connect
      description: Post a Send To M-Pesa Funds Transfer Transaction
      operationId: connect#SendToMPesa
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: SendToMPesaRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectSendToMPesaRequestBody'
          required:
          - MessageReference
          - CallBackUrl
          - Source
          - Destinations
      responses:
        "200":
          description: 'OK Acknowledgement Response-Synchronous: <br>0: REQUEST ACCEPTED FOR PROCESSING'
          schema:
            $ref: '#/definitions/ConnectSendToMPesaResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaForbiddenResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaTimeoutResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/ConnectSendToMPesaConflictResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /FundsTransfer/External/A2M/PesaLink/1.0.0:
    post:
      tags:
      - connect
      summary: PesaLinkSendToPhone connect
      description: Post a PesaLink Funds Transfer Send to Phone Transaction
      operationId: connect#PesaLinkSendToPhone
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: PesaLinkSendToPhoneRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectPesaLinkSendToPhoneRequestBody'
          required:
          - MessageReference
          - CallBackUrl
          - Source
          - Destinations
      responses:
        "200":
          description: 'OK Acknowledgement Response-Synchronous: <br>0 - REQUEST ACCEPTED FOR PROCESSING'
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneForbiddenResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneTimeoutResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/ConnectPesaLinkSendToPhoneConflictResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /FundsTransfer/Internal/A2A/2.0.0:
    post:
      tags:
      - connect
      summary: IFTAccountToAccount connect
      description: Post an Internal Funds Transfer Account to Account Transaction
      operationId: connect#IFTAccountToAccount
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: IFTAccountToAccountRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectIFTAccountToAccountRequestBody'
          required:
          - MessageReference
          - CallBackUrl
          - Source
          - Destinations
      responses:
        "200":
          description: 'OK Acknowledgement Response-Synchronous: <br>0 - REQUEST ACCEPTED FOR PROCESSING'
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountForbiddenResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountTimeoutResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/ConnectIFTAccountToAccountConflictResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /MiniStatement/Account/1.0.0:
    post:
      tags:
      - connect
      summary: AccountMiniStatement connect
      description: Post an Account Mini Statement Enquiry Request
      operationId: connect#AccountMiniStatement
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: AccountMiniStatementRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectAccountMiniStatementRequestBody'
          required:
          - MessageReference
          - AccountNumber
      responses:
        "200":
          description: 'OK Success Response-Synchronous: 0=Success'
          schema:
            $ref: '#/definitions/ConnectAccountMiniStatementResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectAccountMiniStatementBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectAccountMiniStatementUnauthorizedResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ConnectAccountMiniStatementNotFoundResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectAccountMiniStatementNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectAccountMiniStatementTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /Notifications/INS/Simulation/1.0.0:
    post:
      tags:
      - connect
      summary: INSSimulation connect
      description: Post a Debit/Credit Account Transaction Event Type Notification Simulation Request
      operationId: connect#INSSimulation
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Auth token
        required: true
        type: string
        pattern: ^Basic [^ ]+$
      - name: INSSimulationRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectINSSimulationRequestBody'
          required:
          - MessageReference
          - MessageDateTime
          - PaymentRef
          - AccountNumber
          - Amount
          - TransactionDate
          - EventType
          - Currency
          - ExchangeRate
          - Narration
          - CustMemo
          - ValueDate
          - EntryDate
          - TransactionId
      responses:
        "200":
          description: OK Acknowledgement Response-Synchronous
          schema:
            $ref: '#/definitions/ConnectINSSimulationResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ConnectINSSimulationBadRequestResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ConnectINSSimulationUnauthorizedResponseBody'
        "405":
          description: Method Not Allowed response.
          schema:
            $ref: '#/definitions/ConnectINSSimulationNotAllowedResponseBody'
        "408":
          description: Request Timeout response.
          schema:
            $ref: '#/definitions/ConnectINSSimulationTimeoutResponseBody'
      schemes:
      - http
      security:
      - oauth2_header_Authorization: []
  /health:
    get:
      tags:
      - health
      summary: show health
      description: Health check endpoint.
      operationId: health#show
      produces:
      - text/plain
      responses:
        "200":
          description: OK response.
          schema:
            type: string
      schemes:
      - http
  /swagger.json:
    get:
      tags:
      - openapi
      summary: Download ../../gen/http/openapi.json
      operationId: openapi#/swagger.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
      - https
  /swagger/swagger.json:
    get:
      tags:
      - swagger
      summary: Download gen/http/openapi.json
      description: JSON document containing the API swagger definition
      operationId: swagger#/swagger/swagger.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
      - https
definitions:
  AccountTransactionResponseBody:
    title: AccountTransactionResponseBody
    type: object
    properties:
      CreditAmount:
        type: number
        description: Transaction Credit Amount
        example: 200
        format: double
      DebitAmount:
        type: number
        description: Transaction Debit Amount
        example: 0
        format: double
      DebitLimit:
        type: number
        description: Account Debit Limit
        example: 0
        format: double
      LimitExpiryDate:
        type: string
        description: Account Debit Limit Expiry Date
        example: "2019-04-29T10:05:41.178+03:00"
      Narration:
        type: string
        description: Transaction Narration
        example: Electricity Payment
      RunningBookBalance:
        type: number
        description: Account Running Book Balance
        example: 1215.7
        format: double
      RunningClearedBalance:
        type: number
        description: Account Running Cleared Balance
        example: 1215.7
        format: double
      ServicePoint:
        type: string
        description: Transaction Service Point
        example: ATM
      TransactionDate:
        type: string
        description: Transaction Date
        example: "2019-04-29T10:05:41.178+03:00"
        format: date-time
      TransactionId:
        type: string
        description: Unique Transaction Posting Identifier
        example: 116bdbebcca41aXF
      TransactionReference:
        type: string
        description: Unique Transaction Reference
        example: "911909902484902484"
      TransactionType:
        type: string
        description: Transaction Type, C for Credit or D for Debit
        example: C
        enum:
        - C
        - D
      ValueDate:
        type: string
        description: Transaction Value Date
        example: "2019-04-29T10:05:40.751+03:00"
        format: date-time
    description: Account Transaction
    example:
      CreditAmount: 200
      DebitAmount: 0
      DebitLimit: 0
      LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
      Narration: Electricity Payment
      RunningBookBalance: 1215.7
      RunningClearedBalance: 1215.7
      ServicePoint: ATM
      TransactionDate: "2019-04-29T10:05:41.178+03:00"
      TransactionId: 116bdbebcca41aXF
      TransactionReference: "911909902484902484"
      TransactionType: C
      ValueDate: "2019-04-29T10:05:40.751+03:00"
  ConnectAccountBalanceBadRequestResponseBody:
    title: 'Mediatype identifier: errorresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: -2=INVALID/MISSING PARAMETER, -8=ACCOUNT AUTHORIZATION FAILURE, -11=MESSAGE REFERENCE LONGER THAN ALLOWED LENGTH (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountBalanceNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountBalanceRequestBody:
    title: ConnectAccountBalanceRequestBody
    type: object
    properties:
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    example:
      AccountNumber: "36001873000"
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - AccountNumber
  ConnectAccountBalanceResponseBody:
    title: 'Mediatype identifier: accountbalancesuccessresponse; view=default'
    type: object
    properties:
      AccountName:
        type: string
        description: Account Name
        example: Your Account Name
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      ArrearsAmount:
        type: number
        description: Cleared Balance Amount
        example: 0
        format: double
      AvailableBalance:
        type: number
        description: Cleared Balance Amount
        example: 0
        format: double
      AverageBalance:
        type: number
        description: Cleared Balance Amount
        example: 75.83
        format: double
      BlockedBalance:
        type: number
        description: Cleared Balance Amount
        example: 1760
        format: double
      BookedBalance:
        type: number
        description: Cleared Balance Amount
        example: 0
        format: double
      BranchName:
        type: string
        description: Posting account number
        example: UKULIMA BRANCH
        minLength: 14
        maxLength: 14
      BranchSortCode:
        type: string
        description: Posting account number
        example: "00011011"
        minLength: 14
        maxLength: 14
      ClearedBalance:
        type: number
        description: Cleared Balance Amount
        example: 2195.5
        format: double
      CreditLimit:
        type: number
        description: Cleared Balance Amount
        example: 1000
        format: double
      Currency:
        type: string
        description: Account currency in ISO Currency Code
        example: KES
        enum:
        - KES
        - USD
        - EUR
        - GBP
        - AUD
        - CHF
        - CAD
        - ZAR
      MessageCode:
        type: string
        description: Message Response Code
        example: "0"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: Success
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      ODLimit:
        type: number
        description: Cleared Balance Amount
        example: 0
        format: double
      ProductName:
        type: string
        description: Posting account number
        example: Savings Account
        minLength: 14
        maxLength: 14
      UnclearedBalance:
        type: number
        description: Cleared Balance Amount
        example: -2195.5
        format: double
    description: AccountBalanceResponseBody result type (default view)
    example:
      AccountName: Your Account Name
      AccountNumber: "36001873000"
      ArrearsAmount: 0
      AvailableBalance: 0
      AverageBalance: 75.83
      BlockedBalance: 1760
      BookedBalance: 0
      BranchName: UKULIMA BRANCH
      BranchSortCode: "00011011"
      ClearedBalance: 2195.5
      CreditLimit: 1000
      Currency: KES
      MessageCode: "0"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: Success
      MessageReference: 40ca18c6765086089a1
      ODLimit: 0
      ProductName: Savings Account
      UnclearedBalance: -2195.5
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountBalanceTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: 'Request Timeout Error Response-Synchronous: -4=REQUEST TIMED OUT (default view)'
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountBalanceUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: 900901=Invalid credentials, 900902=Missing credentials (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectAccountFullStatementBadRequestResponseBody:
    title: 'Mediatype identifier: errorresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: -2=INVALID/MISSING PARAMETER, -6=Date Fornat, -8=ACCOUNT AUTHORIZATION FAILURE, -11=MESSAGE REFERENCE LONGER THAN ALLOWED LENGTH (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountFullStatementNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountFullStatementNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Not Found Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountFullStatementRequestBody:
    title: ConnectAccountFullStatementRequestBody
    type: object
    properties:
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      EndDate:
        type: string
        description: Statement End Date
        example: "2019-07-01"
        format: date
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      StartDate:
        type: string
        description: Statement Start Date
        example: "2019-01-01"
        format: date
    example:
      AccountNumber: "36001873000"
      EndDate: "2019-07-01"
      MessageReference: 40ca18c6765086089a1
      StartDate: "2019-01-01"
    required:
    - MessageReference
    - AccountNumber
    - StartDate
    - EndDate
  ConnectAccountFullStatementResponseBody:
    title: 'Mediatype identifier: accountfullstatementsuccessresponse; view=default'
    type: object
    properties:
      AccountName:
        type: string
        description: Account Name
        example: Your Account Name
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageCode:
        type: string
        description: Message Response Code
        example: "0"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Acknowledgement/Response Message Code Description
        example: Success
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      Transactions:
        type: array
        items:
          $ref: '#/definitions/AccountTransactionResponseBody'
        example: []
        minItems: 0
    description: AccountFullStatementResponseBody result type (default view)
    example:
      AccountName: Your Account Name
      AccountNumber: "36001873000"
      MessageCode: "0"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: Success
      MessageReference: 40ca18c6765086089a1
      Transactions:
      - CreditAmount: 200
        DebitAmount: 0
        DebitLimit: 0
        LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
        Narration: Electricity Payment
        RunningBookBalance: 1215.7
        RunningClearedBalance: 1215.7
        ServicePoint: ATM
        TransactionDate: "2019-04-29T10:05:41.178+03:00"
        TransactionId: 116bdbebcca41aXF
        TransactionReference: "911909902484902484"
        TransactionType: C
        ValueDate: "2019-04-29T10:05:40.751+03:00"
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountFullStatementTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: 'Request Timeout Error Response-Synchronous: -4=REQUEST TIMED OUT (default view)'
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountFullStatementUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: 900901=Invalid credentials, 900902=Missing credentials (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectAccountMiniStatementBadRequestResponseBody:
    title: 'Mediatype identifier: errorresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: -2=INVALID/MISSING PARAMETER, -6=Date Fornat, -8=ACCOUNT AUTHORIZATION FAILURE, -11=MESSAGE REFERENCE LONGER THAN ALLOWED LENGTH (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountMiniStatementNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountMiniStatementNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Not Found Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountMiniStatementRequestBody:
    title: ConnectAccountMiniStatementRequestBody
    type: object
    properties:
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    example:
      AccountNumber: "36001873000"
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - AccountNumber
  ConnectAccountMiniStatementResponseBody:
    title: 'Mediatype identifier: accountministatementsuccessresponse; view=default'
    type: object
    properties:
      AccountName:
        type: string
        description: Account Name
        example: Your Account Name
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageCode:
        type: string
        description: Message Response Code
        example: "0"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Acknowledgement/Response Message Code Description
        example: Success
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      Transactions:
        type: array
        items:
          $ref: '#/definitions/AccountTransactionResponseBody'
        example:
        - CreditAmount: 200
          DebitAmount: 0
          DebitLimit: 0
          LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
          Narration: Electricity Payment
          RunningBookBalance: 1215.7
          RunningClearedBalance: 1215.7
          ServicePoint: ATM
          TransactionDate: "2019-04-29T10:05:41.178+03:00"
          TransactionId: 116bdbebcca41aXF
          TransactionReference: "911909902484902484"
          TransactionType: C
          ValueDate: "2019-04-29T10:05:40.751+03:00"
        - CreditAmount: 200
          DebitAmount: 0
          DebitLimit: 0
          LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
          Narration: Electricity Payment
          RunningBookBalance: 1215.7
          RunningClearedBalance: 1215.7
          ServicePoint: ATM
          TransactionDate: "2019-04-29T10:05:41.178+03:00"
          TransactionId: 116bdbebcca41aXF
          TransactionReference: "911909902484902484"
          TransactionType: C
          ValueDate: "2019-04-29T10:05:40.751+03:00"
        minItems: 0
    description: AccountMiniStatementResponseBody result type (default view)
    example:
      AccountName: Your Account Name
      AccountNumber: "36001873000"
      MessageCode: "0"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: Success
      MessageReference: 40ca18c6765086089a1
      Transactions:
      - CreditAmount: 200
        DebitAmount: 0
        DebitLimit: 0
        LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
        Narration: Electricity Payment
        RunningBookBalance: 1215.7
        RunningClearedBalance: 1215.7
        ServicePoint: ATM
        TransactionDate: "2019-04-29T10:05:41.178+03:00"
        TransactionId: 116bdbebcca41aXF
        TransactionReference: "911909902484902484"
        TransactionType: C
        ValueDate: "2019-04-29T10:05:40.751+03:00"
      - CreditAmount: 200
        DebitAmount: 0
        DebitLimit: 0
        LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
        Narration: Electricity Payment
        RunningBookBalance: 1215.7
        RunningClearedBalance: 1215.7
        ServicePoint: ATM
        TransactionDate: "2019-04-29T10:05:41.178+03:00"
        TransactionId: 116bdbebcca41aXF
        TransactionReference: "911909902484902484"
        TransactionType: C
        ValueDate: "2019-04-29T10:05:40.751+03:00"
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountMiniStatementTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: 'Request Timeout Error Response-Synchronous: -4=REQUEST TIMED OUT (default view)'
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountMiniStatementUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: 900901=Invalid credentials, 900902=Missing credentials (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectAccountTransactionsBadRequestResponseBody:
    title: 'Mediatype identifier: errorresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: -2=INVALID/MISSING PARAMETER, -6=NO OF TRANSACTIONS IS LESS/GREATER THAN LIMIT ALLOWED, -8=ACCOUNT AUTHORIZATION FAILURE, -11=MESSAGE REFERENCE LONGER THAN ALLOWED LENGTH (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountTransactionsNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountTransactionsRequestBody:
    title: ConnectAccountTransactionsRequestBody
    type: object
    properties:
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      NoOfTransactions:
        type: integer
        description: No Of Latest Transactions To Be Returned
        example: 1
        format: int64
    example:
      AccountNumber: "36001873000"
      MessageReference: 40ca18c6765086089a1
      NoOfTransactions: 1
    required:
    - MessageReference
    - AccountNumber
    - NoOfTransactions
  ConnectAccountTransactionsResponseBody:
    title: 'Mediatype identifier: accounttransactionssuccessresponse; view=default'
    type: object
    properties:
      AccountName:
        type: string
        description: Account Name
        example: Your Account Name
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageCode:
        type: string
        description: Message Response Code
        example: "0"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Acknowledgement/Response Message Code Description
        example: Success
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      NoOfTransactions:
        type: integer
        description: No Of Latest Transactions To Be Returned
        example: 1
        format: int64
      TotalCredits:
        type: number
        description: Total Credits Amount
        example: 200
        format: double
      TotalDebits:
        type: number
        description: Total Debits Amount
        example: 0
        format: double
      Transactions:
        type: array
        items:
          $ref: '#/definitions/AccountTransactionResponseBody'
        example:
        - CreditAmount: 200
          DebitAmount: 0
          DebitLimit: 0
          LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
          Narration: Electricity Payment
          RunningBookBalance: 1215.7
          RunningClearedBalance: 1215.7
          ServicePoint: ATM
          TransactionDate: "2019-04-29T10:05:41.178+03:00"
          TransactionId: 116bdbebcca41aXF
          TransactionReference: "911909902484902484"
          TransactionType: C
          ValueDate: "2019-04-29T10:05:40.751+03:00"
        minItems: 0
    description: AccountTransactionsResponseBody result type (default view)
    example:
      AccountName: Your Account Name
      AccountNumber: "36001873000"
      MessageCode: "0"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: Success
      MessageReference: 40ca18c6765086089a1
      NoOfTransactions: 1
      TotalCredits: 200
      TotalDebits: 0
      Transactions:
      - CreditAmount: 200
        DebitAmount: 0
        DebitLimit: 0
        LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
        Narration: Electricity Payment
        RunningBookBalance: 1215.7
        RunningClearedBalance: 1215.7
        ServicePoint: ATM
        TransactionDate: "2019-04-29T10:05:41.178+03:00"
        TransactionId: 116bdbebcca41aXF
        TransactionReference: "911909902484902484"
        TransactionType: C
        ValueDate: "2019-04-29T10:05:40.751+03:00"
      - CreditAmount: 200
        DebitAmount: 0
        DebitLimit: 0
        LimitExpiryDate: "2019-04-29T10:05:41.178+03:00"
        Narration: Electricity Payment
        RunningBookBalance: 1215.7
        RunningClearedBalance: 1215.7
        ServicePoint: ATM
        TransactionDate: "2019-04-29T10:05:41.178+03:00"
        TransactionId: 116bdbebcca41aXF
        TransactionReference: "911909902484902484"
        TransactionType: C
        ValueDate: "2019-04-29T10:05:40.751+03:00"
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountTransactionsTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: 'Request Timeout Error Response-Synchronous: -4=REQUEST TIMED OUT (default view)'
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountTransactionsUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: 900901=Invalid credentials, 900902=Missing credentials (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectAccountValidationBadRequestResponseBody:
    title: 'Mediatype identifier: errorresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: -2=INVALID/MISSING PARAMETER, -11=MESSAGE REFERENCE LONGER THAN ALLOWED LENGTH, -15=INVALID ACCOUNT NUMBER (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountValidationNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountValidationNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Not Found Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountValidationRequestBody:
    title: ConnectAccountValidationRequestBody
    type: object
    properties:
      AccountNumber:
        type: string
        description: Posting account number
        example: "36001873000"
        minLength: 14
        maxLength: 14
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    example:
      AccountNumber: "36001873000"
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - AccountNumber
  ConnectAccountValidationResponseBody:
    title: 'Mediatype identifier: accountvalidationsuccessresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: VALID ACCOUNT NUMBER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: AccountValidationResponseBody result type (default view)
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: VALID ACCOUNT NUMBER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectAccountValidationTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: 'Request Timeout Error Response-Synchronous: -4=REQUEST TIMED OUT (default view)'
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectAccountValidationUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: 900901=Invalid credentials, 900902=Missing credentials (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectExchangeRateBadRequestResponseBody:
    title: 'Mediatype identifier: errorresponse; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: -2=INVALID/MISSING PARAMETER, -11=MESSAGE REFERENCE LONGER THAN ALLOWED LENGTH (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectExchangeRateNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectExchangeRateNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: 'Not Found Error Response-Synchronous: -4=Record Not Found (default view)'
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectExchangeRateRequestBody:
    title: ConnectExchangeRateRequestBody
    type: object
    properties:
      FromCurrencyCode:
        type: string
        description: From Currency Code in ISO Currency Code
        example: KES
        enum:
        - USD
        - KES
        - EUR
        - GBP
        - AUD
        - CHF
        - CAD
        - ZAR
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      ToCurrencyCode:
        type: string
        description: To Currency Code in ISO Currency Code
        example: USD
        enum:
        - USD
        - KES
        - EUR
        - GBP
        - AUD
        - CHF
        - CAD
        - ZAR
    example:
      FromCurrencyCode: KES
      MessageReference: 40ca18c6765086089a1
      ToCurrencyCode: USD
    required:
    - MessageReference
    - FromCurrencyCode
    - ToCurrencyCode
  ConnectExchangeRateResponseBody:
    title: 'Mediatype identifier: exchangeratesuccessresponse; view=default'
    type: object
    properties:
      FromCurrencyCode:
        type: string
        description: From Currency Code in ISO Currency Code
        example: KES
        enum:
        - USD
        - KES
        - EUR
        - GBP
        - AUD
        - CHF
        - CAD
        - ZAR
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: VALID ACCOUNT NUMBER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      MultiplyDivide:
        type: string
        description: Exchange rate is a multiply or a divide
        example: D
        enum:
        - M
        - D
      Rate:
        type: number
        description: Exchange rate amount
        example: 103.5
        format: double
      RateType:
        type: string
        description: Exchange rate type
        example: SPOT
      ToCurrencyCode:
        type: string
        description: To Currency Code in ISO Currency Code
        example: USD
        enum:
        - USD
        - KES
        - EUR
        - GBP
        - AUD
        - CHF
        - CAD
        - ZAR
      Tolerance:
        type: number
        description: Exchange rate tolerance
        example: 15
        format: double
    description: ExchangeRateResponseBody result type (default view)
    example:
      FromCurrencyCode: KES
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: VALID ACCOUNT NUMBER
      MessageReference: 40ca18c6765086089a1
      MultiplyDivide: D
      Rate: 103.5
      RateType: SPOT
      ToCurrencyCode: USD
      Tolerance: 15
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectExchangeRateTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: 'Request Timeout Error Response-Synchronous: -4=REQUEST TIMED OUT (default view)'
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectExchangeRateUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: 900901=Invalid credentials, 900902=Missing credentials (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectIFTAccountToAccountBadRequestResponseBody:
    title: 'Mediatype identifier: acknowledgementerror400; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Bad Request Error Response-Synchronous: <br>-2 - INVALID/MISSING PARAMETER, <br>-3 - THE AMOUNT DEBITED OR CREDITED MUST BE GREATER THAT 0/POSITIVE INTEGER, <br>-5 - DEBIT AND CREDIT(S) AMOUNTS NOT BALANCING, <br>-6 - TRANSACTION AMOUNT LESS/GREATER THAN MINIMUM/MAXIMUM LIMIT ALLOWED, <br>-11 - MESSAGE REFERENCE/REFERENCE NUMBER LONGER THAN ALLOWED LENGTH, <br>-12 - DUPLICATE REFERENCE/IDENTICAL REFERENCE AND MESSAGEREFERENCE (default view)'
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectIFTAccountToAccountConflictResponseBody:
    title: 'Mediatype identifier: acknowledgementerror409; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-1"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: DUPLICATE MESSAGE REFERENCE
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Conflict Error Response-Synchronous: <br>-1 - DUPLICATE MESSAGE REFERENCE (default view)'
    example:
      MessageCode: "-1"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: DUPLICATE MESSAGE REFERENCE
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectIFTAccountToAccountForbiddenResponseBody:
    title: 'Mediatype identifier: acknowledgementerror403; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-9"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: CURRENCY INVALID/NOT ALLOWED
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: 'Forbidden Error Response-Synchronous: <br>-9 - CURRENCY INVALID/NOT ALLOWED, <br>-16 - DAILY LIMIT EXHAUSTED (default view)'
    example:
      MessageCode: "-9"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: CURRENCY INVALID/NOT ALLOWED
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectIFTAccountToAccountNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectIFTAccountToAccountNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: 'Not Found Error Response-Synchronous: <br>Wrong API Resource URI (default view)'
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectIFTAccountToAccountRequestBody:
    title: ConnectIFTAccountToAccountRequestBody
    type: object
    properties:
      CallBackUrl:
        type: string
        description: Your callback URL that will receive transaction processing results
        example: https://yourdomain.com/ftresponse
      Destinations:
        $ref: '#/definitions/DestinationsTXNRequestRequestBody'
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      Source:
        $ref: '#/definitions/SourceAccountTXNRequestRequestBody'
    example:
      CallBackUrl: https://yourdomain.com/ftresponse
      Destinations:
        DestinationsTXNRequest:
        - AccountNumber: "54321987654321"
          Amount: 777
          Narration: Supplier Payment
          ReferenceNumber: 40ca18c6765086089a1_1
          TransactionCurrency: KES
      MessageReference: 40ca18c6765086089a1
      Source:
        AccountNumber: "36001873000"
        Amount: 777
        Narration: Supplier Payment
        TransactionCurrency: KES
    required:
    - MessageReference
    - CallBackUrl
    - Source
    - Destinations
  ConnectIFTAccountToAccountResponseBody:
    title: 'Mediatype identifier: successacknowledgement; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Acknowledgement/Response Message Code
        example: "0"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: REQUEST ACCEPTED FOR PROCESSING
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: IFTAccountToAccountResponseBody result type (default view)
    example:
      MessageCode: "0"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: REQUEST ACCEPTED FOR PROCESSING
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectIFTAccountToAccountTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: 'Request Timeout Error Response-Synchronous: <br>-4 - REQUEST TIMED OUT (default view)'
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectIFTAccountToAccountUnauthorizedResponseBody:
    title: 'Mediatype identifier: missingcredentials; view=default'
    type: object
    properties:
      Fault:
        $ref: '#/definitions/MissingCredentialFaultResponseBody'
    description: 'Unauthorized Error Response-Synchronous: <br>900901 - Invalid credentials, <br>900902 - Missing credentials, <br>-8 - DEBIT ACCOUNT AUTHORIZATION FAILURE (default view)'
    example:
      Fault:
        code: "900902"
        description: Required OAuth credentials not provided.
        message: Missing Credentials
  ConnectINSSimulationBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad Request Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectINSSimulationNotAllowedResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Method Not Allowed Error Response-Synchronous (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectINSSimulationRequestBody:
    title: ConnectINSSimulationRequestBody
    type: object
    properties:
      AccountNumber:
        type: string
        description: Posting account number
        example: "54321987654321"
        minLength: 14
        maxLength: 14
      Amount:
        type: number
        description: Transaction Amount
        example: 120777.45
        format: double
      Currency:
        type: string
        description: Transaction Posting account currency in ISO Currency Code
        example: KES
        enum:
        - KES
        - USD
        - EUR
        - GBP
        - AUD
        - CHF
        - CAD
        - ZAR
      CustMemo:
        $ref: '#/definitions/CustMemoRequestBody'
      EntryDate:
        type: string
        description: Transaction Posting Entry Date
        example: "20190301"
        format: date
      EventType:
        type: string
        description: The event of the transaction
        example: DEBIT
      ExchangeRate:
        type: integer
        description: Exchange Rate
        example: 1
        format: int64
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
      Narration:
        type: string
        description: Transaction Posting account narration
        example: Supplier Payments
      NotificationCode:
        type: string
        description: Notification Code identifier
        example: Laboriosam cupiditate ea et dolores.
      PaymentRef:
        type: string
        description: Transaction Payment Reference
        example: SFI427E9136D7D3F21C2C89
      ServiceName:
        type: string
        description: Notification Service Name identifier
        example: Aut non dolorum perspiciatis assumenda aliquid.
      TransactionDate:
        type: string
        description: Posting date of the Transaction
        example: "20190301165420"
        format: date-time
      TransactionId:
        type: string
        description: Co-operative Bank's processed transaction number
        example: 1169716b65891lI6
      ValueDate:
        type: string
        description: Transaction Posting Value Date
        example: "20190301"
        format: date
    example:
      AccountNumber: "54321987654321"
      Amount: 120777.45
      Currency: CHF
      CustMemo:
        CustMemoLine1: 728210595 ABD01
        CustMemoLine2: Expedita fuga.
        CustMemoLine3: Temporibus delectus eius.
      EntryDate: "20190301"
      EventType: DEBIT
      ExchangeRate: 1
      MessageDateTime: 2017-12-04T09:27:00
      MessageReference: 40ca18c6765086089a1
      Narration: Supplier Payments
      NotificationCode: Officiis modi quia sit quia perspiciatis ut.
      PaymentRef: SFI427E9136D7D3F21C2C89
      ServiceName: Saepe et qui consectetur accusamus.
      TransactionDate: "20190301165420"
      TransactionId: 1169716b65891lI6
      ValueDate: "20190301"
    required:
    - MessageReference
    - MessageDateTime
    - PaymentRef
    - AccountNumber
    - Amount
    - TransactionDate
    - EventType
    - Currency
    - ExchangeRate
    - Narration
    - CustMemo
    - ValueDate
    - EntryDate
    - TransactionId
  ConnectINSSimulationResponseBody:
    title: 'Mediatype identifier: successacknowledgement; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Acknowledgement/Response Message Code
        example: "0"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: REQUEST ACCEPTED FOR PROCESSING
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: INSSimulationResponseBody result type (default view)
    example:
      MessageCode: "0"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: REQUEST ACCEPTED FOR PROCESSING
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectINSSimulationTimeoutResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Request Timeout Error Response-Synchronous (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ConnectINSSimulationUnauthorizedResponseBody:
    title: 'Mediatype identifier: erroracknowledgement; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
        description: Message Code description
        example: INVALID/MISSING PARAMETER
      MessageReference:
        type: string
        description: Your unique transaction request message identifier
        example: 40ca18c6765086089a1
        minLength: 1
        maxLength: 27
    description: Unauthorized Error Response-Synchronous (default view)
    example:
      MessageCode: "-2"
      MessageDateTime: 2017-12-04T09:27:00
      MessageDescription: INVALID/MISSING PARAMETER
      MessageReference: 40ca18c6765086089a1
    required:
    - MessageReference
    - MessageDateTime
    - MessageCode
    - MessageDescription
  ConnectPesaLinkSendToAccountBadRequestResponseBody:
    title: 'Mediatype identifier: acknowledgementerror400; view=default'
    type: object
    properties:
      MessageCode:
        type: string
        description: Message Response Code
        example: "-2"
      MessageDateTime:
        type: string
        description: Acknowledgement message creation timestamp
        example: 2017-12-04T09:27:00
        format: date-time
      MessageDescription:
        type: string
[...]
